@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
a [class^="flaticon-"], a [class*=" flaticon-"] {
    display: inline;
}

[class^="flaticon-"], [class*=" flaticon-"]{
	display: inline;
	width: auto;
	height: auto;
	line-height: normal;
	vertical-align: baseline;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	margin-top: 0px;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
        /*font-size: 20px;*/
	/*margin-left: 20px;*/
}.flaticon-church:before {
	content: "\e000";
}
.flaticon-comments:before {
	content: "\e001";
}
.flaticon-covered3:before {
	content: "\e002";
}
.flaticon-drink3:before {
	content: "\e003";
}
.flaticon-food3:before {
	content: "\e004";
}
.flaticon-map10:before {
	content: "\e005";
}
.flaticon-mirrors:before {
	content: "\e006";
}
.flaticon-photos1:before {
	content: "\e007";
}
.flaticon-ring:before {
	content: "\e008";
}
.flaticon-sleeping:before {
	content: "\e009";
}
.flaticon-travel2:before {
	content: "\e00a";
}
.flaticon-two15:before {
	content: "\e00b";
}
