/************************
Designed by : http://responsivewebinc.com
************************/

/* Basic CSS starts */

body{

	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	line-height:20px;
	padding-top:132px;
	/*background:#ddd url('../img/back.png') repeat;*/
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6{

}

p{
	margin:0;
	padding:0;
}

a{

}

a:hover{

}

a:hover,a:active,a:focus {
	outline: 0;
}

hr{

}

:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}

/* Basic CSS ends */

/* Container */

.container{
	width:900px;
}

.bor{
	background:url('../img/border.png') no-repeat;
	height:40px;
	width:350px;
	margin:15px auto;
}

.title h3{
	text-align:center;
	font-family: 'Droid Serif', serif;
	font-size:30px;
	color:444;
}

.title h5{
	text-align:center;
	font-family: 'Droid Serif', serif;
	font-size:20px;
	color:444;
}

.wedding .well a{
	color:#8D559F;
	/*color:#D32020;*/
	text-decoration:none;
}

.wedding .well a:hover{
	color:#cb1e08;
}

div#rer, div#car, div#parking {
    padding-top: 143px;
    margin-top: -143px;
}

/* Navigation */

.navbar{
	background:#8D559F;
	border-color: #8D559F;
}

.navbar .navbar-header .navbar-toggle span.menu{
	line-height:20px;
}

.navbar .navbar-header a.navbar-brand{
	font-family: 'Lobster Two', cursive;
	color:#fff;
	font-size:24px;
	padding-top:10px;
	padding-bottom:10px;
	text-shadow:1px 1px 1px #555;
}

.navbar-default .navbar-toggle {
	border-color: rgb(119, 117, 128);
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-toggle{
	background:rgb(119, 117, 128);
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: rgb(119, 117, 128);
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-weight:bold;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #222;
    text-align: left;
	padding-bottom:5px;
}

.navbar-default .navbar-nav>li>a.anchorLink {
    color: rgb(119, 117, 128);
}

.navbar-default .navbar-nav>li i {
	font-size: 42px;
	vertical-align: middle
}

.navbar-default .navbar-nav>li>a:hover{
	color: rgb(119, 117, 128);
}

/* Main */

.main{
	background:#ddd url('../img/mainback.jpg') repeat-y;
	padding-top:30px;
	padding-bottom:40px;
	border-bottom:1px solid #444;
}

.main .main-invite{
	background:#fff;
	padding-left:25px;
	padding-right:25px;
	margin-bottom:30px;
	padding-top:30px;
	padding-bottom:30px;
	margin-top:30px;
}

.main .main-invite .signal{
	line-height:16px;
	display:inline-block;
	background:#8D559F;
	/*background:#ed4934;*/
	padding:5px;
	border-radius:25px;
	color:#fff;
	text-align:center;
	font-size:11px;
	font-weight:bold;
}

.main .main-invite .signal i{
	padding-left:5px;

}

.main .main-invite .signal span{
	text-transform:uppercase;
	padding-left:5px;
	padding-right:5px;

}

.main .main-invite h1{
	font-family: 'Open Sans', sans-serif;
	color:#222;
	padding-top:0px;
	font-weight:bold;
	font-size:40px;
	line-height:40px;
	text-transform:uppercase;
}

.main .main-invite p{
	font-family: 'Droid Serif', serif;
	font-size:15px;

	font-style:italic;
	line-height:30px;
}

.main .main-date{
	background:#8D559F;
	/*background:#ed4934;*/
	padding-left:10px;
	padding-top:50px;
	padding-bottom:40px;
	padding-right:10px;
	text-align:center;
	line-height:60px;
	margin-top:30px;
}

.main .main-date i.icon-heart{
	font-size:70px;
	color:#fff;
	line-height:80px;

}

.main .main-date .date{
	font-size:50px;
	text-align:center;
	line-height:60px;
	color:#fff;
}

.main .main-date .date span.month{
	font-size:40px;
	line-height:62px;
}

.main .main-date .date span.year{
	font-size:55px;
	line-height:67px;
}

/* About */

/*.about{
    padding-top:0px;
	padding-bottom:0px;
}*/

.city{
    padding-top:30px;
    padding-bottom:0px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

p.about-para{
	font-family: 'Droid Serif', serif;
	font-style:italic;
	font-size:16px;
	line-height:20px;
	color:#8D559F;
	margin:0px auto;
}

p.about-para-big{
    font-family: 'Droid Serif', serif;
    font-size:20px;
    line-height:20px;
    color:#8D559F;
    margin:0px auto;
}


.about .groom h3{
	text-align:center;
	font-family: 'Droid Serif', serif;
	font-size:40px;
	color:444;
	text-transform:uppercase;
}

.about .groom p{
	font-family: 'Droid Serif', serif;
	font-style:italic;
	font-size:15px;
	line-height:30px;
	color:#666;
}

.about .love{
	text-align:center;
	padding-top:30px;
}

.about .love i{
	font-size:130px;
	color:#ed4934;
}

.about .love h3{
	font-size:20px;
	color:#555;
}

.about .bride h3{
	text-align:center;
	font-family: 'Droid Serif', serif;
	font-size:40px;
	color:444;
	text-transform:uppercase;
}

.about .bride p{
	font-family: 'Droid Serif', serif;
	font-style:italic;
	font-size:15px;
	line-height:30px;
	color:#666;
}

/* Photos */

.flex-direction-nav {
  line-height:40px;
}

/* Wedding */

.wedding .well h3{
	font-size:17px;
	font-family: 'Droid Serif', serif;
}

.wedding .well h5{
	font-family: 'Droid Serif', serif;
}

.wedding .well p{
	font-size:13px;
	line-height:22px;
	color:#666;
}

.wedding .well img{
	border:1px solid #ddd;
	background:#fff;
	padding:5px;
	margin-bottom:15px;
	margin-top:10px;
}

/* RSVP */

.rsvp .heart{
	text-align:center;
}

.rsvp i{
	font-size:120px;
	color:#ed4934;
}

.rsvp .well{
	padding:20px;
}

.rsvp .well p{
	font-family: 'Droid Serif', serif;
	font-style:italic;
	font-size:17px;
	color:#666;
	line-height:25px;
	padding-bottom:20px;
	text-align:center;
}

.rsvp .well label{
	font-weight:normal;
}

.rsvp .well .btn{
	text-transform:uppercase;
	font-weight:bold;
	font-size:13px;
}

/* Footer */

.footer{
	padding-top:20px;
	padding-bottom:20px;
}

.footer .copy{
	text-align:center;
}

.footer .copy a{
	text-decoration:none;
	color:#8D559F;
	/*color:#ed4934;*/
}

.footer .copy a:hover{
	color:#cb1e08;
}

.totop {
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 104400;
	background:#8D559F;
	/*background: #fa3031;*/
}

.totop a, .totop a:visited, .totop a:hover{
	display: block;
	width: 30px;
	height: 30px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	text-decoration:none;
}

/* Responsive CSS */

/* Mobile phones */
@media (max-width: 480px){
	.container{
		width:100%;
	}

	.main .main-invite h1{
		font-size:30px;
		line-height:40px;
	}

	.main .main-date i.icon-heart{
		font-size:65px;
	}

	.main .main-date .date span.month{
		font-size:35px;
		line-height:47px;
	}

	.main .main-date .date span.year{
		font-size:48px;
		line-height:60px;
	}
}

/* Tablets */
@media (max-width: 767px){
	.container{
		width:100%;
	}

	.about  p.about-para{
		width:auto;
	}
}

@media (min-width: 768px){
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
    }
    .navbar-nav>li {
        display: table-cell;
        float: none;
        text:align: center;
    }

    .navbar-default .navbar-nav>li {
        /*background: url("../flag-bg.png") no-repeat scroll -20px bottom transparent;*/
        background-color: transparent;
        background-image: url("../img/flag-bg.png");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: -20px bottom;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
    }

    .navbar-default .navbar-nav>li>a {
        background-color: transparent;
        background-image: url("../img/flag-bg.png");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center bottom;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;

        color: #fff;
        font-weight:bold;
        text-transform:uppercase;
        text-shadow:1px 1px 1px #222;
        text-align: center;
        padding-top:5px;
        padding-bottom:10px;
        padding-left:17px;
        padding-right:17px;
    }

    span.wrap {
        display: block;
        white-space: -moz-pre-wrap;     /* Mozilla */
        white-space: -pre-wrap;           /* Opera 4-6 */
        white-space: -o-pre-wrap;        /* Opera 7 */
        word-wrap: break-word;           /* IE5.5+ */
    }
}
