@main("La mairie", "cityhall") {
    <div class="city">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <img class="img-responsive img-circle" src="/assets/img/mairie.jpg"/>
                    <br/>
                    <address class="about-para text-center">
                        <strong>Mairie de Palaiseau</strong><br>
                        91 Rue de Paris<br>
                        91120 Palaiseau, France<br>
                        <abbr title="Phone">P:</abbr> +33 1 69 31 93 00
                    </address>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="title">
                        <h3>Cérémonie civile</h3>
                    </div>
                    <p class="about-para text-center">
                        Notre cérémonie débutera à la mairie de Palaiseau à 15h où Monsieur le maire, Grégoire de Lasteyrie, nous unira solennellement.
                    </p>
                    <br/>
                    <p class="about-para text-center small">
                        Merci de prévoir votre présence environ 15 minutes en avance.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2632.525012610525!2d2.2456040000000095!3d48.71455899999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67814c030fd9f%3A0xb4df2fee6575a822!2sMairie+de+Palaiseau!5e0!3m2!1sen!2s!4v1399250469774"
                    width="100%" height="300" frameborder="0" style="border : 0"></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <p class="text-center">
                        <a href="#car">
                            <button type="button" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-road"></span> Itinéraire en voiture
                            </button>
                        </a>
                    </p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <p class="text-center">
                        <a href="#parking">
                            <button type="button" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-pushpin"></span> Stationnement
                            </button></a>
                    </p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <p class="text-center">
                        <a href="#rer">
                            <button type="button" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-transfer"></span> Itinéraire en transports
                            </button>
                        </a>
                    </p>
                </div>
            </div>
            <a name="rer"></a>
            <div class="bor"></div>
            <div class="row" id="rer">
                <div class="col-md-4 col-sm-4">
                    <div class="title">
                        <h3>Venir en transports</h3>
                    </div>
                    <p class="about-para text-center">
                        Depuis Paris : <a href="http://www.transilien.com/contents/fr/Docs---PDF/Plans/ligne_B.pdf">
                        RER Ligne B direction St Remy les Chevreuse arrêt Palaiseau</a>
                        <br>
                        Durée 20-30 minutes depuis Denfert Rochereau. <br>
                        Voici <a href="http://www.ratp.fr/horaires/fr/ratp/rer/choix-arret-direction/RB/Palaiseau">
                        les horaires</a>
                    </p>
                </div>
                <div class="col-md-8 col-sm-8">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d2632.422208156512!2d2.2461054999999943!3d48.716523650599825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e2!4m5!1s0x47e6783e2d3ed463%3A0x6f530f79f4c16327!2sPalaiseau!3m2!1d48.717921999999994!2d2.246518!4m5!1s0x0%3A0xb4df2fee6575a822!2sMairie!3m2!1d48.714559!2d2.2456039999999997!5e0!3m2!1sfr!2s!4v1399689212553"
                    width="100%" height="400" frameborder="0" style="border : 0"></iframe>
                </div>
            </div>
            <div class="bor"></div>
            <a name="car"></a>
            <div class="row" id="car">
                <div class="col-md-8 col-sm-8">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d336263.21212900477!2d2.317826750000022!3d48.81898637020061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e6!4m5!1s0x47e66e1f06e2b70f%3A0x40b82c3688c9460!2sParis%2C+France!3m2!1d48.856614!2d2.3522219!4m5!1s0x47e67814c030fd9f%3A0xb4df2fee6575a822!2sMairie+de+Palaiseau%2C+91+Rue+de+Paris%2C+91120+Palaiseau%2C+France!3m2!1d48.714559!2d2.2456039999999997!5e0!3m2!1sen!2s!4v1399250705658"
                    width="100%" height="400" frameborder="0" style="border : 0"></iframe>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="title">
                        <h3>Venir en voiture</h3>
                    </div>
                    <p class="about-para text-center">
                        Voici l'itinéraire depuis le centre de Paris.
                        Il faut compter 30 minutes de trajet et environ 15-20 minutes pour vous garer.
                    </p>
                </div>
            </div>
            <div class="bor"></div>
            <a name="parking"></a>
            <div class="row" id="parking">
                <div class="col-md-12 col-sm-12">
                    <div class="title">
                        <h3>Stationnements</h3>
                    </div>
                    <div class="alert alert-danger">
                        Le 6 septembre se déroulera aussi la journée des associations de la ville.<br>
                        Le stationnement risque d'être compliqué, <strong>prévoyez au moins 15 minutes supplémentaires pour vous stationner.</strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <p class="about-para">
                        Le stationnement sera payant le samedi de  14h à 19h, 30 min de
                        stationnement sont offertes une fois par jour
                        Paiement au moyen de pièces de monnaie ou de la carte de stationnement:
                    </p>

                    <ul>
                        <li>0,10 euros pour 10 minutes</li>
                        <li>0,60 euros pour 1 heure</li>
                        <li>1,20 euros pour 2 heures</li>
                    </ul>
                </div>
                <div class="col-md-7 col-sm-7">
                    <img class="img-responsive img-thumbnail" src="/assets/img/stationnement-palaiseau-2.png"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="title">
                        <h5>Parking Hotel de Ville</h5>
                    </div>
                    <p>Au 91 rue de Paris - entrée par la rue de Paris ou par la rue du 8 mai
                        Il reste payant mais les personnes se rendant en mairie bénéficient :
                        soit de bornes-minutes gratuites, à durée limitée (20 minutes) pour les démarches courtes, soit d’1 heure maximum gratuite pour les démarches plus longues : carte à retirer à l’accueil
                    </p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="title">
                        <h5>Parking rue de Paris</h5>
                    </div>
                    <p>Couvert à la hauteur du 148 (en face restaurant petit venise)
                        Les 12 places entre la rue du Docteur Morère et la voie d’accès au parking du 8 mai 1945
                        (à hauteur du n°181) deviennent payantes, stationnement gratuit au-delà du n° 181 rue de Paris.
                    </p>

                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="title">
                        <h5>Parking de la Poste</h5>
                    </div>
                    <p>57 places gratuites et 26 payantes destinées
                        à faciliter l’accès des usagers à ce service public.
                    </p>
                    <div class="title">
                        <h5>Parking place de la République</h5>
                    </div>
                    <p>Accès direct à la rue de Paris par un escalier 32 places créées dont 20 gratuites.
                    </p>
                </div>
            </div>
        </div>
    </div>
}
