@main("Le vin d'honneur", "cocktail") {
    <div class="city">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <img class="img-responsive img-circle" src="/assets/img/montblin.jpg"/>
                    <br/>
                    <address class="about-para text-center">
                        <strong>La Ferme de Montblin</strong><br>
                        Route d'Echarcon<br>
                        91090 Lisses, France<br>
                        <abbr title="Phone">P:</abbr> +33 1 64 57 27 59
                    </address>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="title">
                        <h3>Vin d'honneur</h3>
                    </div>
                    <p class="about-para text-center">
                        Après autant d'émotions, il sera bien temps de faire couler tout ça avec une petite coupette accompagnée de quelques hors-d'oeuvres.
                    </p>
                    <br>
                    <p class="about-para text-center">
                        Le cocktail devrait commencer aux alentours de 18h sous réserve de tout décalage indépendant de notre volonté.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2639.6028457807015!2d2.42102!3d48.579155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5dd9b54785a85%3A0x7c494e1c1e1e15e5!2sFerme+de+Montblin!5e0!3m2!1sfr!2sca!4v1402875113184"
                    width="100%" height="300" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
            <div class="bor"></div>
            <div class="row" id="rer">
                <div class="col-md-4 col-sm-4">
                    <div class="title">
                        <h3>Itinéraire</h3>
                    </div>
                    <p class="about-para text-center">
                       Cette fois-ci, nous déconseillons même aux plus sportifs d'entre vous de faire le chemin à pied.
                        <br>
                        Vous trouverez ci-après un itinéraire pour vous y rendre en voiture. Nous avons toutefois espoir que tout le monde se suivra sans se perdre et que cet itinéraire soit inutile.
                        <br>
                        Point non plus de problème de stationnement cette fois !
                        <br>
                        Et pour les adeptes des GPS, voilà les coordonnés de la salle : 48.578832, 2.421889
                    </p>
                </div>
                <div class="col-md-8 col-sm-8">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d84354.25166545932!2d2.2725609286884634!3d48.64676909299448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e0!4m5!1s0x47e6786b80aec9ef%3A0x360554f0988e493b!2s11+Rue+de+la+Pie+Voleuse%2C+91120+Palaiseau%2C+France!3m2!1d48.712143399999995!2d2.2399635!4m5!1s0x47e5dd9b54785a85%3A0x7c494e1c1e1e15e5!2sFerme+de+Montblin%2C+Route+d&#39;Echarcon%2C+91090+Lisses%2C+France!3m2!1d48.578722!2d2.421734!5e0!3m2!1sfr!2sca!4v1402874943091"
                    width="100%" height="400" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
        </div>
    </div>
}