@main("La lune de miel", "honeymoon") {
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h3>Notre lune de miel</h3>
                    </div>
                    <img class="img-responsive" src="/assets/img/honeymoon.png"/>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="about-para-big text-center ">
                         Et oui! vous avez deviné...nous partirons dès le 8 septembre pour un <span style="font-weight: bold">voyage de noce de 15 jours de rêve en Italie.</span>
                        Venise, Bari, Ischia, Naples, Pompei, Rome, la Toscane & Florence sont au programme!
                    </p>
                    <br>
                    <p class="about-para-big  text-center" style="font-weight: bold">
                        Commme après ce périple nous retounerons "au frais" à Montréal,
                        nous ne ferons pas de liste de mariage, cependant si vous le souhaitez, une urne sera présente dans la salle pour votre participation à ce voyage de rêve !
                    </p>
                    <br>
                    <p class="about-para-big text-center">
                        Merci d'avance !
                    </p>
                </div>
             </div>
        </div>
    </div>
}