@main("Hotels", "hotels") {
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <a href="https://mapsengine.google.com/map/edit?mid=zlydv-qHjda4.kseVdwuP9d2Y" target="_blank">
                        <img class="img-responsive img-rounded" src="/assets/img/hotels.png"/>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <br>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Hotel</th>
                                <th>Distance de la salle</th>
                                <th>Budget</th>
                                <th>Liens</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img class="img-responsive " src="/assets/img/hotel_mercure.jpg"/></td>
                                <td style="vertical-align:middle"><h4>Mercure d'Evry Lisses</h4></td>
                                <td style="vertical-align:middle">4 km</td>
                                <td style="vertical-align:middle">
                                    <span class="glyphicon glyphicon-euro"></span>
                                    <span class="glyphicon glyphicon-euro"></span>
                                    <span class="glyphicon glyphicon-euro"></span>
                                    <span class="glyphicon glyphicon-euro"></span>
                                    <br>(Dès 80 €)
                                </td>
                                <td style="vertical-align:middle">
                                    <a href="http://www.accorhotels.com/fr/hotel-1968-mercure-evry-lisses/index.shtml" target="_blank">
                                    Reserver</a>
                                    <br>
                                    <br>
                                    <a href="https://goo.gl/maps/g3iRi" target="_blank">Itineraire</a>
                                </td>
                            </tr>
                            <tr>
                                <td><img class="img-responsive " src="/assets/img/hotel_campanile.jpg"/></td>
                                <td style="vertical-align:middle"><h4>Campanile de Corbeil</h4></td>
                                <td style="vertical-align:middle">5,2 km</td>
                                <td style="vertical-align:middle">
                                    <span class="glyphicon glyphicon-euro"></span>
                                    <span class="glyphicon glyphicon-euro"></span>
                                    <span class="glyphicon glyphicon-euro"></span>
                                    <br>(Dès 55 €)
                                </td>
                                <td style="vertical-align:middle">
                                    <a href="http://www.accorhotels.com/fr/hotel-1968-mercure-evry-lisses/index.shtml" target="_blank">
                                    Reserver</a>
                                    <br>
                                    <br>
                                    <a href="https://goo.gl/maps/YljF5" target="_blank">Itineraire</a>
                                </td>
                            </tr>
                            <tr>
                                <td><img class="img-responsive " src="/assets/img/hotel_bb.jpg"/></td>
                                <td style="vertical-align:middle"><h4>B&B hotel d'Evry Lisses</h4></td>
                                <td style="vertical-align:middle">3,2 km</td>
                                <td style="vertical-align:middle">
                                    <span class="glyphicon glyphicon-euro"></span>
                                    <span class="glyphicon glyphicon-euro"></span>
                                    <br>(Dès 40 €)
                                </td>
                                <td style="vertical-align:middle"><a href="http://www.hotel-bb.com/fr/hotels/evry-lisses-1.htm" target="_blank">
                                    Reserver</a>
                                    <br>
                                    <br>
                                    <a href="https://goo.gl/maps/BaAQr" target="_blank">Itineraire</a>
                                </td>
                            </tr>
                            <tr>
                                <td><img class="img-responsive " src="/assets/img/hotel_f1.jpg"/></td>
                                <td style="vertical-align:middle"><h4>Formule 1 Mennecy</h4></td>
                                <td style="vertical-align:middle">5,2 km</td>
                                <td style="vertical-align:middle">
                                    <span class="glyphicon glyphicon-euro"></span>
                                    <br>(Dès 20 €)
                                </td>
                                <td style="vertical-align:middle">
                                    <a href="http://www.accorhotels.com/fr/hotel-2466-formule-1-hotelf1-mennecy/index.shtml" target="_blank">
                                    Reserver</a>
                                    <br>
                                    <br>
                                    <a href="https://goo.gl/maps/v73GI" target="_blank">Itineraire</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <br>
                    <a href="/assets/hotels.pdf" target="_blank"><button type="button" class="btn btn-default">Télécharger la liste complète des hotels</button></a>
                </div>
            </div>
        </div>
    </div>
}