@main("Hotels", "hotels") {
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h3>Les hôtels</h3>
                    </div>
                    <div class="bor"></div>

                    <p class="about-para text-center">
                        PAGE EN CONSTRUCTION.</p>
                    <div class="bor"></div>
                </div>
            </div>
        </div>
    </div>
}