@main("Nous nous marions", "index") {

    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-7">
                    <div class="main-invite">
                        <div class="signal"><i class="icon-signal"></i>     <span>Marriage On</span></div>
                        <h1>Nous<br>
                            nous marrions !</h1>
                        <p>Comme vous le savez si vous êtes arrivés ici, notre mariage approche à grand pas !
                            Sur ce site, vous trouverez toutes les informations importantes en rapport à ce grand jour de notre vie.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-5">
                    <div class="main-date">
                        <i class="icon-heart"></i>
                        <div class="date"><span class="month"><strong>
                            6 Septembre</strong></span><br><span class="year"><strong>2014</strong></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a name="about" id="about"></a>

}