@(title: String, currentPage: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>@title - Anne-Laure & Fabien</title>
    <!-- Description, Keywords and Author
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your,Keywords">
    <meta name="author" content="ResponsiveWebInc">-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster+Two:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>


    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))'>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/flaticon.css")'>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/flexslider.css")'>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/style.css")'>
</head>

<body>
<!-- Navigation Starts -->
<div id="nav" class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Anne-Laure &amp; Fabien se marient</a>
        </div>
    </div>

    <div class="container">
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                @for(p <- List(
                    ("story", "two15", "Nous"),
                    ("cityhall", "ring", "Mairie"),
                    ("church","church", "Eglise"),
                    ("cocktail","drink3", "Cocktail"),
                    /*("food", "covered3", "Repas"),
                    ("party", "mirrors", "Boom"),*/
                    ("hotels", "sleeping", "Hotels"),
                    /*("brunch", "food3", "Brunch"),*/
                    ("honeymoon", "travel2", "Voyage")
                )) {
                <li><a @if(p._1 == currentPage) {class="anchorLink" } else { href="@(p._1).html" }><i class="flaticon-@(p._2)"> </i><br/>@(p._3)</a> </li>
                }
            </ul>
        </nav>
    </div>
</div>


<a name="home" id="home"></a>
<!-- Navigation Ends -->

<!-- Main Starts -->
@content
<!-- Main Ends -->

<!--Footer Starts -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copy">
                    <!-- This theme comes with Creative Commons Attribution 3.0 Unported license. So you should not remove the footer link. -->
                    Copyright 2013 &copy; <a href="http://responsivewebinc.com/bootstrap-themes">Bootstrap Themes</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer Ends -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>


<!-- Javascript files -->
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("html5shiv.min.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("respond.min.js"))'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/jquery.flexslider.min.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/jquery.anchor.min.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("javascripts/custom.min.js")'></script>
</body>
</html>