@main("Notre histoire", "story") {
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h3>Notre histoire</h3>
                    </div>
                    <div class="bor"></div>

                    <p class="about-para text-center">
                        5 ans plus tard, mariage nous voilà :)
                    </p>
                    <div class="bor"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="groom">
                        <h3>Fabien</h3>
                        <hr>
                        <p class="text-center">
                            Duis a risus sed dolor placerat semper quis in urna. Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut commodo ullamcorper risus nec mattis. Ut commodo ullamcorper risus nec.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="love">
                        <i class="icon-heart"></i>
                        <h3>6, SEPT 2014</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="bride">
                        <h3>Anne-Laure</h3>
                        <hr>
                        <p class="text-center">
                            Duis a risus sed dolor placerat semper quis in urna. Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut commodo ullamcorper risus nec mattis. Ut commodo ullamcorper risus nec.</p>
                    </div>
                </div>
            </div>
            <a name="photos" id="photos"></a>
            <hr>
        </div>
    </div>
}