@main("Notre histoire", "story") {
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h3>Notre romance en 3 dates</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <img class="img-responsive " src="/assets/img/indiana-cafe.jpg"/>
                    <div class="title">
                        <h5>4 septembre 2009</h5>
                    </div>
                    <p class="about-para text-center">
                        La soirée d'anniversaire de notre copine commune Caro fut le théatre de notre rencontre.
                        Nous nous retrouvons assis face à face au restaurant et ce fut comme si personne d'autre n'était présent.
                        Cette soirée magique, pleine d’échanges, de sourires et de rires, conclue par un chaste baiser marquait le début de
                        notre belle histoire.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img class="img-responsive " src="/assets/img/fiancailles.jpg"/>
                    <div class="title">
                        <h5>16 septembre 2011</h5>
                    </div>
                    <p class="about-para text-center">
                    C'est, lors d’un week-end romantique à St Malo, en promenade sur l’île du Grand Bé, que Fabien s’est agenouillé, un anneau dans les mains...avec pour témoin rien de moins que le célèbre Chateaubriand... il m’a offert son coeur...je lui ai donné ma main…
                    </p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img class="img-responsive " src="/assets/img/timbre.jpg"/>
                    <div class="title">
                        <h5>06 septembre 2014</h5>
                    </div>
                    <p class="about-para text-center">
                        C'est à cette date que nous avons décidé de célèbrer cet amour devant vous tous, parents, famille, amis, copains, copines et tous chers à nos coeurs.
                    </p>
                </div>
            </div>
        </div>
    </div>
}